BasedOnStyle: Google
IndentWidth: 4
BreakBeforeBraces: Linux
PointerAlignment: Right
DerivePointerAlignment: false
ColumnLimit: 80
InsertBraces: true
SortIncludes: false
Cpp11BracedListStyle: false
Macros:
  - EXPORT(x)=[[nodiscard]]
  - IMPORT(x)=[[nodiscard]]
BreakAfterAttributes: Always
AllowShortFunctionsOnASingleLine: None
